{{/*
  Renders a responsive image grid from a dictionary based structure

  Note well that the key values are discarded.
  - Dictionary of <__> -->
    - Dictionary of "original" --> Resource, "400w"? --> Resource, "800w"? --> Resource, "alt"? --> Resource, "baseFileName" --> <base>, "parentLink"? --> string
*/}}

<div class="grid" aria-label="Image grid">
  {{ range $i, $resources := . }}
    {{ with $original := index $resources "original" }}
    <div class="grid-item">
      {{ $originalLink := $original.RelPermalink }}
      {{ with $parentLink := index $resources "parentLink" }}
        <a href="{{ $parentLink }}">
      {{ else }}
        <a href="{{ $originalLink }}">
      {{ end }}
        <picture>
          {{/* the following safely dereferences the pointers to multiple resources objects in the given bundle */}}
          {{ with $small := index $resources "400w" }}
            {{ with $medium := index $resources "800w" }}
              <source type="{{ $small.MediaType.Type }}" size="(width <= 1024px) 280px, 320px" srcset="{{ $small.RelPermalink }} 400w, {{ $medium.RelPermalink }} 800w">
            {{ else }}
              <source type="{{ $small.MediaType.Type }}" size="(width <= 1024px) 280px" srcset="{{ $small.RelPermalink }} 400w">
            {{ end }}
          {{ else }}
            {{ with $medium := index $resources "800w" }}
              <source type="{{ $medium.MediaType.Type }}" size="(width <= 1024px) 280px" srcset="{{ $medium.RelPermalink }} 800w">
            {{ end }}
          {{ end }}
          {{/* Alternate fallback format: single original, no size-aware srcset */}}
          {{ $imgSrc := $originalLink }}
          {{ with $alt := index $resources "alt" }}
            {{ $imgSrc = $alt.RelPermaLink }}
          {{ end }}
          <img loading="lazy" src="{{ $imgSrc }}" alt="{{ $original.Name }}" />
        </picture>
      </a>
    </div>
    {{ end }}
  {{ end }}
</div>
