{{/* prepare-feature-image: returns a normalized slice of dict items
  for rendering by image-grid.html. This partial handles capturing a single featured image from a bundle instead of all images

  Naming conventions handled here:
  - Size variants (same extension):
  <base>-400h.<ext>, <base>-800h.<ext>
  - Primary/original (same extension):
  <base>.<ext>
  - Fallback format:
  <base>-alt.<ext>

  Input:
  - page/section/etc to get resources from as .

  Output item shape (normalized):
  - Dictionary of <pageName><base> -->
  - Dictionary of "original" --> Resource, "400"? --> Resource, "800"? --> Resource, "alt"? --> Resource, "baseFileName" --> <base>, parent --> Page/Section/etc, featuredImage --> bool
*/}}

{{ $featuredImage := dict }}

{{ $sortedImageResources := sort (.Resources.ByType "image") ".Name" "asc" }}
{{ range $sortedImageResources }}
  {{ $fileName := path.Base .Key }}
  {{ $isSpecial := findRE `^(.+)-(400h)?(800h)?(alt)?\.([^.]+)$` $fileName }}
  {{ if not $isSpecial }}
    {{ $featuredImage = $featuredImage | merge (dict (.Key | path.BaseName) (dict "original" . "parent" $ "featuredImage" true)) }}
    {{ break }}
  {{ end }}
{{ end }}

{{ $outputImage := dict }}
{{/* We use range here because we're dealing with a dict collection even though there should only be 1 element */}}
{{ range $baseName, $resources := $featuredImage }}
  {{ $smallGlob := printf "%s-400w.*" $baseName }}
  {{ $mediumGlob := printf "%s-800w.*" $baseName }}
  {{ $altGlob := printf "%s-alt.*" $baseName }}
  {{ $small := $.Resources.GetMatch $smallGlob }}
  {{ $medium := $.Resources.GetMatch $mediumGlob }}
  {{ $alt := $.Resources.GetMatch $altGlob }}

  {{ $finalResource := $resources }}
  {{ with $small }}
    {{ $finalResource = $finalResource | merge (dict "400" .) }}
  {{ end }}

  {{ with $medium }}
    {{ $finalResource = $finalResource | merge (dict "800" .) }}
  {{ end }}

  {{ with $alt }}
    {{ $finalResource = $finalResource | merge (dict "alt" .) }}
  {{ end }}

  {{ $outputImage = $outputImage | merge (dict (printf "%s%s" $.Name $baseName) $finalResource) }}
{{ end }}

{{ return $outputImage }}
