{{/* prepare-bundle-images: returns a normalized slice of dict items
  for rendering by image-grid.html using width-suffix variants and
  same-basename fallback formats.

  Naming conventions handled here:
  - Size variants (same extension):
  <base>-400h.<ext>, <base>-800h.<ext>
  - Primary/original (same extension):
  <base>.<ext>
  - Fallback format:
  <base>-alt.<ext>

  Input:
  - page/section/etc to get resources from as .

  Output item shape (normalized):
  - Dictionary of <base> -->
  - Dictionary of "original" --> Resource, "400"? --> Resource, "800"? --> Resource, "alt"? --> Resource, "baseFileName" --> <base>
*/}}

{{/* We organize the bundle images in two passes.
  First pass: Find items that match our alt and size variant naming standards, these are added the alt images slice to be iterated later. For items that don't match those naming patterns, we add them to an originals dictionary keys by the <base> filename component described above.
  Second passed: Iterate over the alternative images we found and lookup originals by key, when found merge the two dictionary objects all back into the baseImages dictionary.
*/}}

{{ $altImages := slice }}
{{ $baseImages := dict }}
{{ range .Resources.ByType "image" }}
  {{/* We use .Key here because we want to always looks at the original
    file name, regardless of whether the end user provided front matter
  */}}
  {{ $lowerImageName := .Key | path.Base }}
  {{/* We look for some file name followed by a hyphen, following by one of
    400w, 800w, or alt. If the expression does not match at all we assume
    this is an 'original' photo.
  */}}
  {{ $suffixMatches := findRESubmatch `^(.+)-(400h)?(800h)?(alt)?\.([^.]+)$` $lowerImageName }}
  {{ if and $suffixMatches (index $suffixMatches 0) }}
    {{ $suffixMatch := index $suffixMatches 0 }}
    {{ if (index $suffixMatch 2) }}
      {{/* 400w */}}
      {{ $altImages = $altImages | append (dict "400" . "baseFileName" (index $suffixMatch 1)) }}
    {{ else if (index $suffixMatch 3) }}
      {{/* 800w */}}
      {{ $altImages = $altImages | append (dict "800" . "baseFileName" (index $suffixMatch 1)) }}
    {{ else if (index $suffixMatch 4) }}
      {{/* alt */}}
      {{ $altImages = $altImages | append (dict "alt" . "baseFileName" (index $suffixMatch 1)) }}
    {{ end }}
    {{/* unknown / no match */}}
  {{ else }}
    {{ $forDisplay := dict (.Key | path.BaseName) (dict "original" .) }}
    {{ $baseImages = $baseImages | merge $forDisplay }}
  {{ end }}
{{ end }}

{{ range $altImages }}
  {{ $baseFileName := index . "baseFileName" }}
  {{ $baseImage := index $baseImages $baseFileName }}
  {{ if $baseImage }}
    {{ $baseImages = $baseImages | merge (dict $baseFileName (merge $baseImage .)) }}
  {{ end }}
{{ end }}

{{ return $baseImages }}
