/* https://github.com/altercation/solarized?tab=readme-ov-file#usage-development */
* { box-sizing: border-box; }
html, body { height: 100%; font-size: 100%; }

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
  color: #657b83;
  background: #fdf6e3;
}

.wrap { 
  max-width: 90vw; 
  margin: 0 auto;

}

.site-header { border-bottom: 1px solid #586e75; padding: 2rem 0; }
.site-title { font-size: 2rem; margin: 0; }
.site-title a { color: inherit; text-decoration: none; }
.site-subtitle { font-size: 1rem; }

.site-main { padding: 20px 0 40px; }
.section-title { 
  margin: 0 0 12px; 
  font-size: 1.5rem; 
  padding-bottom: 5px;
  border-bottom: 0.2rem double #eee8d5;
  text-align: center;
}
.content { margin: 0 0 16px; }
.content p { margin: 0 0 12px; }

.gallery-section {
  display: block;
}

/* Responsive image grid */
.grid {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 0.25rem;
}
 @media (width <= 1024px) {
    .grid > * {
      height: 640px;
    }
    .grid-item img {
      height: 640px;
    }
 } 
@media (width > 1024px) {
    .grid > * {
      height: 320px;
    }
    .grid-item img {
      height: 320px;
    }
}

.grid-item a {
  border-radius: 2px;
  border-color: #073642;
  background: #eee8d5;
  color: #586e75;
}

.grid-item img {
  width: 100%;
  object-fit: scale-down;
}

.site-footer { border-top: 1px solid #eee8d5; padding: 2rem 0; }
.site-footer p { margin: 0; font-size: 0.9rem; }

@media (prefers-color-scheme: dark) {
  body { 
    color: #839496; 
    background:#002b36; 
  }
  .site-header {
    border-bottom-color:  #93a1a1;
  }
  .section-title {
    border-bottom-color: #073642;
  }
  a {
    color: #93a1a1;
  }
  .grid-item a {
    border-color: #eee8d5;
    color: #93a1a1;
    background: #073642;
  }
  .site-footer {
    border-top-color: #073642;
  }
}